
.icon-user-plus:before { content: '\e800'; } /* '' */
.icon-comment-empty:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-chat-empty:before { content: '\e803'; } /* '' */
.icon-git:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-login:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */