body 
{
	background-color:#303030;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
}

#container
{
	width:100%;
}

.header
{
	width:100%;
	height:70px;
	margin-top:15px;
	background-color:#525252;
	
}

.user
{
	background-color:#636363;
	width:400px;
	height:70px;
	font-size:22px;
	text-align:center;
	padding-top:18px;
	border-radius:5px;
}

.home
{
	background-color:#FFB13F;
	width:320px;
	height:50px;
	text-align:center;
	border-radius:5px;
	font-size:18px;
	margin-top:10px;
	margin-left:auto;
}
.home:hover
{
	background-color:#FFc24F;
	-webkit-box-shadow: 0px 0px 10px -1px rgb(255, 177, 63);
	-moz-box-shadow: 0x 0px 10px -1px rgb(255, 177, 63);
	box-shadow: 0px 0px 10px -1px rgb(255, 177, 63);
}
a.homebtn
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:320px;
	height:50px;
}
.powitanie
{
	font-size:50px;
	text-align:center;
	margin:15px;
	font-style: italic;
}

#content
{
	background-color:#525252;
	color:#000000;
	width:1400px;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
	padding-top:25px;
	padding-bottom:10px;
}

.wiadomosci
{
	color:#ffffff;
	width:1350px;
	height:600px;
	margin-left:25px;
	margin-right:25px;
	padding:15px;
	border:3px solid #636363;
	font-size:18px;
	letter-spacing:2px;
}

.input
{
	margin-left:25px;
}
input[type=text]
{	
	float:left;
	width:1200px;
	height:40px;
	border-top:none;
	border-left:3px solid #636363;
	border-right:3px solid #636363;
	border-bottom:3px solid #636363;
	font-size:20px;
	padding-left:10px;
}
input[type=text]:focus
{
	background-color:#ccd8ff;
	color:#3366ff;
}

input[type=submit]
{
	float:left;
	width:150px;
	height:40px;
	border:none;
	color:#ffffff;
	font-size:17px;
	background-color:#FFB13F;
	border-right:3px solid #636363;
	border-bottom:3px solid #636363;
}
input[type=submit]:focus
{
	background-color:#FFc24F;
}
input[type=submit]:hover
{
	background-color:#FFc24F;
}