body 
{
	background-color:#303030;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
}

#container
{
	width:100%;
}

.header
{
	margin-top:20px;
}

.logo
{
	width:1000px;
	padding:40px;
	text-align:center;
	font-size:70px;
	margin-left:auto;
	margin-right:auto;
	text-shadow: 3px 3px 2px #878787; 
	line-height:150%;
}

#content
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.powitanie
{
	font-size:30px;
	text-align:center;
	margin:40px;
}

.buttons
{
	width:680px;
	margin-left:auto;
	margin-right:auto;
}

.przycisk
{
	float:left;
	width:320px;
	height:184px;
	font-size:25px;
	text-align:center;
	margin:10px;
	background-color:#3366ff;
	line-height:200%;
	border-radius:5px;
}
.przycisk:hover
{
	background-color:#4477ff;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
	-moz-box-shadow: 0x 0px 10px -1px rgba(51,102,255,1);
	box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
}

a.odnosnik
{
	text-decoration:none;
	display:block;
	width:320px;
	height:184px;
	color:#ffffff;
}


