body 
{
	background-color:#303030;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
}

#container
{
	width:100%;
}

.header
{
	margin-top:20px;
}

.logo
{	
	width:1000px;
	padding:40px;
	text-align:center;
	font-size:70px;
	margin-left:auto;
	margin-right:auto;
	text-shadow: 3px 3px 2px #878787; 
	line-height:150%;
}

#content
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.powitanie
{
	font-size:30px;
	text-align:center;
	margin:40px;
}

.formularz
{
	width:500px;
	float:left;
	text-align:center;
}

.przyciski
{
	width:500px;
	float:left;
	padding:10px;
}

.error
{
	color:red;
	font-size:20px;
}

input[type=text],
input[type=password]
{
	color:#666;
	width:320px;
	height:50px;
	font-size:18px;
	padding:10px;
	border:2px solid #ggg;
	border-radius:5px;
	outline:none;
	letter-spacing:1px;
	margin:10px;
}
input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 0px rgb(230, 235, 255);
	-moz-box-shadow: 0x 0px 10px 0px rgb(230, 235, 255);
	box-shadow: 0px 0px 10px 0px rgb(230, 235, 255);
	border:2px solid #809dff;
	background-color:#ccd8ff;
	color:#3366ff;
}
input[type=text]:hover,
input[type=password]:hover
{
	border:2px solid #809dff;
}

input[type=submit]
{
	width:320px;
	height:120px;
	font-size:25px;
	background-color:#3366ff;
	border:none;
	border-radius:5px;
	letter-spacing:2px;
}
input[type=submit]:focus
{
	background-color:#4477ee;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
	-moz-box-shadow: 0x 0px 10px -1px rgba(51,102,255,1);
	box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
}
input[type=submit]:hover
{
	background-color:#4477ee;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
	-moz-box-shadow: 0x 0px 10px -1px rgba(51,102,255,1);
	box-shadow: 0px 0px 10px -1px rgba(51,102,255,1);
}
.home
{
	background-color:#FFB13F;
	width:320px;
	height:50px;
	margin-top:20px;
	text-align:center;
	border-radius:5px;
	font-size:18px;
	letter-spacing:1px;
}
.home:hover
{
	background-color:#FFc24F;
	-webkit-box-shadow: 0px 0px 10px -1px rgb(255, 177, 63);
	-moz-box-shadow: 0x 0px 10px -1px rgb(255, 177, 63);
	box-shadow: 0px 0px 10px -1px rgb(255, 177, 63);
}
a.homebtn
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:320px;
	height:50px;
}